<p-tabView (onChange)="onTabClick($event.index)">
  <p-tabPanel *ngFor="let salary of salaries; let i = index" [selected]="i === _selectedIndex" [header]="salary.name">
    <div class="form-group">
      <label for="companyName">Company Name</label>
      <input [(ngModel)]="salary.name" name="companyName" id="companyName" class="form-control" type="text" pInputText required/>
    </div>
    <div class="form-group">
      <label for="salary">Base Salary</label>
      <input [(ngModel)]="salary.baseSalary" name="salary" id="salary" class="form-control" type="text" pInputText required/>
    </div>
    <div class="form-group">
      <label for="bonus">Bonus</label>
      <input [(ngModel)]="salary.bonus" name="bonus" id="bonus" class="form-control" type="text" pInputText required/>
    </div>
    <div class="form-group">
      <label for="retirementMatch">401k Match %</label>
      <input [(ngModel)]="salary.retirementMatch" name="retirementMatch" id="retirementMatch" class="form-control" type="text" pInputText required/>
    </div>
  </p-tabPanel>
  <!--<div class="form-group">-->
    <!--<label for="balance">Date</label>-->
    <!--<input [(ngModel)]="salary.balance" name="balance" id="balance" class="form-control" type="text" pInputText required/>-->
    <!--<p-calendar [(ngModel)]="salary.date" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100"></p-calendar>-->
  <!--</div>-->
</p-tabView>

<p-button (onClick)="addSalary()" label="Add Salary"></p-button>
<button pButton type="button" label="Delete" (click)="delete()" class="ui-button-danger"></button>
