<p-sidebar [visible]="true" [modal]="false" [dismissible]="false" [showCloseIcon]="false">
  <nav>
    <div class="p-grid p-dir-col">
      <div class="p-col">
        <a class="p-col" routerLink="/finance-home" routerLinkActive="active">Home</a>
      </div>
      <div class="p-col">
        <a class="p-col" routerLink="/input-data/salary-input" routerLinkActive="active">Input Data</a>
      </div>
      <div class="p-col">
        <a class="p-col" routerLink="/app-net-worth-breakdown" routerLinkActive="active">Net Worth</a>
      </div>
      <div class="p-col">
        <a class="p-col" routerLink="/app-salary-breakdown" routerLinkActive="active">Salary Breakdown</a>
      </div>
      <div class="p-col">
        <a class="p-col" routerLink="/app-budget-breakdown" routerLinkActive="active">Budget Breakdown</a>
      </div>
    </div>
  </nav>
</p-sidebar>

<div class="container">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
