<h2 style="text-align: center">Monthly Budget Breakdown</h2>

<p-chart type="radar" [data]="chartData"></p-chart>

<br><br>

<p-table [value]="completeData" >
  <ng-template pTemplate="header" let-category>
    <tr>
      <th>Category</th>
      <th>Budget Amount</th>
      <th *ngFor="let actualSpendId of actualSpendIds">{{actualSpends[this.getActualSpendIndex(actualSpendId)].name}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category>
    <tr>
      <td>{{category?.name}}</td>
      <td>{{category?.amount | currency:'$'}}</td>
      <td *ngFor="let actualSpend of category?.actualSpends">{{actualSpend?.amount | currency:'$'}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer" let-columns>
    <tr>
      <th>Total</th>
      <th *ngFor="let total of totals">{{total | currency:'$'}}</th>
    </tr>
  </ng-template>
</p-table>

<br><br><br>

