<p-tabView (onChange)="onTabClick($event.index)">
  <p-tabPanel *ngFor="let asset of assets; let i = index" [selected]="i === _selectedIndex" [header]="asset.name">
    <div class="form-group">
      <label for="assetName">Asset Name</label>
      <input [(ngModel)]="asset.name" name="assetName" id="assetName" class="form-control" type="text" pInputText required/>
    </div>
    <div class="form-group">
      <label for="assetValue">Value ($)</label>
      <input [(ngModel)]="asset.value" name="assetValue" id="assetValue" class="form-control" type="text" pInputText required/>
      <p-calendar [(ngModel)]="asset.date" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100"></p-calendar>
    </div>
  </p-tabPanel>
</p-tabView>

<p-button (onClick)="addAsset()" label="Add Asset"></p-button>
<button pButton type="button" label="Delete" (click)="delete()" class="ui-button-danger"></button>
