<p-tabView (onChange)="onTabClick($event.index)">
  <p-tabPanel *ngFor="let actualSpendId of actualSpendIds; let i = index" [selected]="i === _selectedIndex" [header]="actualSpends[getActualSpendIndex(actualSpendId)].name">
    <div class="form-group">
      <label for="name">Name</label>
      <input [(ngModel)]="actualSpends[getActualSpendIndex(actualSpendId)].name" name="name" id="name" class="form-control" type="text" pInputText required/>
    </div>
    <br/>
    <div *ngFor="let actualSpend of getActualSpends(i)" class="form-group">
      <label>{{actualSpend.category}}</label>
      <input [(ngModel)]="actualSpend.amount" class="form-control" type="text" pInputText required/>
    </div>
  </p-tabPanel>
</p-tabView>

<p-button (onClick)="addActualSpend()" label="Add Actual Spend"></p-button>
<button pButton type="button" label="Delete" (click)="delete()" class="ui-button-danger"></button>
